In [1]:
import pandas as pd

In [24]:
df = pd.read_csv('resident-population-by-subzone-ethnic-group-and-sex.csv')

In [25]:
by_race = df[(df['level_1'] !=  'Total')&(df['level_2'] ==  'Total')]

#### Within race percentage

In [26]:
race_total = pd.DataFrame(by_race.groupby('level_1')['value'].sum()).reset_index().rename(columns={'value': 'total'})

In [28]:
race_total

   level_1    total
0  Chinese  2899110
1  Indians   354860
2   Malays   520960
3   Others   126820

In [5]:
by_race1 = pd.merge(by_race, race_total, how='left', on='level_1')

In [6]:
by_race1['perc'] = by_race1['value'] / by_race1['total'] * 100

In [7]:
by_race1.sort_values('perc', ascending=False)

,year,level_1,level_2,level_3,level_4,value,total,perc
409,2015,Malays,Total,Tampines- Total,Tampines East,34020,520960,6.530252
429,2015,Malays,Total,Woodlands- Total,Woodlands East,21560,520960,4.138514
869,2015,Others,Total,Tampines- Total,Tampines East,4360,126820,3.437944
242,2015,Malays,Total,Bedok- Total,Bedok North,17030,520960,3.268965
410,2015,Malays,Total,Tampines- Total,Tampines West,16790,520960,3.222896
197,2015,Chinese,Total,Tampines- Total,Tampines East,89310,2899110,3.080601
360,2015,Malays,Total,Pasir Ris- Total,Pasir Ris Drive,16020,520960,3.075092
638,2015,Indians,Total,Tampines- Total,Tampines East,10800,354860,3.043454
660,2015,Indians,Total,Woodlands- Total,Woodlands East,10730,354860,3.023728
330,2015,Malays,Total,Jurong West- Total,Yunnan,14310,520960,2.746852
541,2015,Indians,Total,Jurong West- Total,Yunnan,7540,354860,2.124782
891,2015,Others,Total,Woodlands- Total,Woodlands East,2660,126820,2.097461
219,2015,Chinese,Total,Woodlands- Total,Woodlands East,60560,2899110,2.088917
11,2015,Chinese,Total,Bedok- Total,Bedok North,59870,2899110,2.065117
683,2015,Others,Total,Bedok- Total,Bedok North,2600,126820,2.050150
326,2015,Malays,Total,Jurong West- Total,Hong Kah,10610,520960,2.036625
440,2015,Malays,Total,Yishun- Total,Yishun West,10520,520960,2.019349
438,2015,Malays,Total,Yishun- Total,Yishun East,10500,520960,2.015510
685,2015,Others,Total,Bedok- Total,Bedok South,2410,126820,1.900331
246,2015,Malays,Total,Bedok- Total,Kaki Bukit,9740,520960,1.869625
426,2015,Malays,Total,Woodlands- Total,Midview,9680,520960,1.858108
198,2015,Chinese,Total,Tampines- Total,Tampines West,53600,2899110,1.848843
808,2015,Others,Total,Pasir Ris- Total,Pasir Ris Drive,2340,126820,1.845135
686,2015,Others,Total,Bedok- Total,Frankel,2310,126820,1.821479
452,2015,Indians,Total,Bedok- Total,Bedok North,6430,354860,1.811982
431,2015,Malays,Total,Woodlands- Total,Woodlands West,9360,520960,1.796683
97,2015,Chinese,Total,Jurong West- Total,Jurong West Central,51820,2899110,1.787445
769,2015,Others,Total,Jurong West- Total,Jurong West Central,2260,126820,1.782053
430,2015,Malays,Total,Woodlands- Total,Woodlands South,9130,520960,1.752534
623,2015,Indians,Total,Sengkang- Total,Rivervale,6060,354860,1.707716
...,...,...,...,...,...,...,...,...
381,2015,Malays,Total,River Valley- Total,One Tree Hill,20,520960,0.003839
371,2015,Malays,Total,Queenstown- Total,Kent Ridge,20,520960,0.003839
349,2015,Malays,Total,Novena- Total,Malcolm,20,520960,0.003839
190,2015,Chinese,Total,Singapore River- Total,Boat Quay,110,2899110,0.003794
194,2015,Chinese,Total,Sungei Kadut- Total,Gali Batu,110,2899110,0.003794
126,2015,Chinese,Total,Orchard- Total,Somerset,90,2899110,0.003104
75,2015,Chinese,Total,Downtown Core- Total,Cecil,90,2899110,0.003104
635,2015,Indians,Total,Sungei Kadut- Total,Gali Batu,10,354860,0.002818
567,2015,Indians,Total,Orchard- Total,Somerset,10,354860,0.002818
604,2015,Indians,Total,River Valley- Total,Paterson,10,354860,0.002818
596,2015,Indians,Total,Queenstown- Total,Port,10,354860,0.002818
592,2015,Indians,Total,Queenstown- Total,National University of S'pore,10,354860,0.002818
575,2015,Indians,Total,Pasir Ris- Total,Loyang West,10,354860,0.002818
554,2015,Indians,Total,Museum- Total,Dhoby Ghaut,10,354860,0.002818
572,2015,Indians,Total,Outram- Total,People's Park,10,354860,0.002818
168,2015,Chinese,Total,Rochor- Total,Mackenzie,80,2899110,0.002759
114,2015,Chinese,Total,Museum- Total,Fort Canning,70,2899110,0.002415
191,2015,Chinese,Total,Singapore River- Total,Clarke Quay,70,2899110,0.002415
166,2015,Chinese,Total,Rochor- Total,Kampong Glam,60,2899110,0.002070
352,2015,Malays,Total,Orchard- Total,Boulevard,10,520960,0.001920
351,2015,Malays,Total,Novena- Total,Mount Pleasant,10,520960,0.001920
344,2015,Malays,Total,Newton- Total,Goodwood Park,10,520960,0.001920
261,2015,Malays,Total,Bukit Merah- Total,Alexandra North,10,520960,0.001920
406,2015,Malays,Total,Singapore River- Total,Robertson Quay,10,520960,0.001920
306,2015,Malays,Total,Downtown Core- Total,Cecil,10,520960,0.001920
345,2015,Malays,Total,Newton- Total,Monk's Hill,10,520960,0.001920
377,2015,Malays,Total,Queenstown- Total,Queensway,10,520960,0.001920
374,2015,Malays,Total,Queenstown- Total,National University of S'pore,10,520960,0.001920
353,2015,Malays,Total,Outram- Total,China Square,10,520960,0.001920
307,2015,Malays,Total,Downtown Core- Total,Central Subzone,10,520960,0.001920

#### Within subzone percentage

In [31]:
subzone_total = pd.DataFrame(by_race.groupby('level_4')['value'].sum()).reset_index().rename(columns={'value': 'total'})

In [32]:
by_race2 = pd.merge(by_race, subzone_total, how='left', on='level_4')

In [33]:
by_race2['perc'] = by_race2['value'] / by_race2['total'] * 100

In [34]:
by_race2.sort_values('perc', ascending=False)

,year,level_1,level_2,level_3,level_4,value,total,perc
128,2015,Chinese,Total,Outram- Total,China Square,1540,1600,96.250000
131,2015,Chinese,Total,Outram- Total,People's Park,360,380,94.736842
226,2015,Chinese,Total,Yishun- Total,Springleaf,3560,3880,91.752577
51,2015,Chinese,Total,Bukit Timah- Total,Anak Bukit,20090,21980,91.401274
74,2015,Chinese,Total,Downtown Core- Total,Bugis,2100,2320,90.517241
211,2015,Chinese,Total,Toa Payoh- Total,Sennett,4100,4540,90.308370
184,2015,Chinese,Total,Serangoon- Total,Lorong Chuan,7570,8390,90.226460
214,2015,Chinese,Total,Toa Payoh- Total,Woodleigh,2200,2440,90.163934
73,2015,Chinese,Total,Clementi- Total,West Coast,5290,5890,89.813243
86,2015,Chinese,Total,Hougang- Total,Kovan,22950,25640,89.508580
6,2015,Chinese,Total,Ang Mo Kio- Total,Tagore,7440,8340,89.208633
151,2015,Chinese,Total,Queenstown- Total,National University of S'pore,320,360,88.888889
185,2015,Chinese,Total,Serangoon- Total,Seletar Hills,12040,13580,88.659794
42,2015,Chinese,Total,Bukit Merah- Total,Tiong Bahru,10800,12200,88.524590
8,2015,Chinese,Total,Ang Mo Kio- Total,Yio Chu Kang East,3620,4090,88.508557
4,2015,Chinese,Total,Ang Mo Kio- Total,Sembawang Hills,6080,6900,88.115942
224,2015,Chinese,Total,Yishun- Total,Nee Soon,790,900,87.777778
52,2015,Chinese,Total,Bukit Timah- Total,Coronation Road,5380,6180,87.055016
45,2015,Chinese,Total,Bukit Panjang- Total,Dairy Farm,4660,5380,86.617100
71,2015,Chinese,Total,Clementi- Total,Faber,3750,4330,86.605081
82,2015,Chinese,Total,Hougang- Total,Hougang Central,4180,4830,86.542443
27,2015,Chinese,Total,Bukit Batok- Total,Hillview,15750,18220,86.443469
172,2015,Chinese,Total,Rochor- Total,Victoria,1780,2060,86.407767
189,2015,Chinese,Total,Serangoon- Total,Upper Paya Lebar,13380,15540,86.100386
20,2015,Chinese,Total,Bishan- Total,Upper Thomson,26100,30340,86.025049
206,2015,Chinese,Total,Toa Payoh- Total,Joo Seng,5780,6720,86.011905
90,2015,Chinese,Total,Jurong East- Total,Lakeside,860,1000,86.000000
110,2015,Chinese,Total,Marine Parade- Total,Katong,8270,9620,85.966736
19,2015,Chinese,Total,Bishan- Total,Marymount,27090,31540,85.890932
155,2015,Chinese,Total,Queenstown- Total,Port,120,140,85.714286
...,...,...,...,...,...,...,...,...
381,2015,Malays,Total,River Valley- Total,One Tree Hill,20,1850,1.081081
413,2015,Malays,Total,Tanglin- Total,Nassim,90,8340,1.079137
340,2015,Malays,Total,Marine Parade- Total,Katong,100,9620,1.039501
839,2015,Others,Total,Rochor- Total,Little India,40,3850,1.038961
345,2015,Malays,Total,Newton- Total,Monk's Hill,10,990,1.010101
282,2015,Malays,Total,Bukit Timah- Total,Anak Bukit,220,21980,1.000910
375,2015,Malays,Total,Queenstown- Total,Pasir Panjang 1,40,4010,0.997506
261,2015,Malays,Total,Bukit Merah- Total,Alexandra North,10,1010,0.990099
389,2015,Malays,Total,Rochor- Total,Victoria,20,2060,0.970874
350,2015,Malays,Total,Novena- Total,Moulmein,80,8480,0.943396
302,2015,Malays,Total,Clementi- Total,Faber,40,4330,0.923788
379,2015,Malays,Total,River Valley- Total,Institution Hill,30,3380,0.887574
412,2015,Malays,Total,Tanglin- Total,Chatsworth,50,5740,0.871080
305,2015,Malays,Total,Downtown Core- Total,Bugis,20,2320,0.862069
237,2015,Malays,Total,Ang Mo Kio- Total,Tagore,70,8340,0.839329
425,2015,Malays,Total,Toa Payoh- Total,Woodleigh,20,2440,0.819672
342,2015,Malays,Total,Marine Parade- Total,Mountbatten,80,10210,0.783546
386,2015,Malays,Total,Rochor- Total,Little India,30,3850,0.779221
286,2015,Malays,Total,Bukit Timah- Total,Holland Road,80,10280,0.778210
436,2015,Malays,Total,Yishun- Total,Springleaf,30,3880,0.773196
349,2015,Malays,Total,Novena- Total,Malcolm,20,2630,0.760456
285,2015,Malays,Total,Bukit Timah- Total,Hillcrest,60,8820,0.680272
304,2015,Malays,Total,Clementi- Total,West Coast,40,5890,0.679117
289,2015,Malays,Total,Bukit Timah- Total,Ulu Pandan,70,10730,0.652377
353,2015,Malays,Total,Outram- Total,China Square,10,1600,0.625000
343,2015,Malays,Total,Newton- Total,Cairnhill,20,3330,0.600601
400,2015,Malays,Total,Serangoon- Total,Lorong Chuan,50,8390,0.595948
348,2015,Malays,Total,Novena- Total,Dunearn,20,3910,0.511509
283,2015,Malays,Total,Bukit Timah- Total,Coronation Road,30,6180,0.485437
406,2015,Malays,Total,Singapore River- Total,Robertson Quay,10,2410,0.414938

In [35]:
by_race2[by_race2['level_4'] == 'Mackenzie']

     year  level_1 level_2        level_3    level_4  value  total       perc
168  2015  Chinese   Total  Rochor- Total  Mackenzie     80    110  72.727273
609  2015  Indians   Total  Rochor- Total  Mackenzie     20    110  18.181818
840  2015   Others   Total  Rochor- Total  Mackenzie     10    110   9.090909

In [36]:
by_race2[by_race2['level_4'] == 'Western Water Catchment']

,year,level_1,level_2,level_3,level_4,value,total,perc
215,2015,Chinese,Total,Western Water Catchment- Total,Western Water Catchment,730,890,82.022472
656,2015,Indians,Total,Western Water Catchment- Total,Western Water Catchment,90,890,10.112360
887,2015,Others,Total,Western Water Catchment- Total,Western Water Catchment,70,890,7.865169

In [39]:
by_race[by_race['level_4'] == 'Mackenzie']

      year  level_1 level_2        level_3    level_4  value
911   2015  Chinese   Total  Rochor- Total  Mackenzie     80
2218  2015  Indians   Total  Rochor- Total  Mackenzie     20
2906  2015   Others   Total  Rochor- Total  Mackenzie     10

In [42]:
len(by_race['level_4'].unique())

231